### Import Modules and Dataset

In [31]:
import pandas as pd

man_city_data = pd.read_csv('./Data/ManchesterCity.csv')
inter_milan_data = pd.read_csv('./Data/InterMilan.csv')

In [32]:
man_city_data.head()

,Name,Team,matches_played,goals_scored,yellow_cards,red_cards,points
0,Erling Haaland,Manchester City,10,12,0.0,0.0,0.0
1,Bernardo Silva,Manchester City,12,3,2.0,0.0,2.0
2,Julián Álvarez,Manchester City,10,3,0.0,0.0,0.0
3,Riyad Mahrez,Manchester City,9,3,0.0,0.0,0.0
4,Kevin De Bruyne,Manchester City,9,2,1.0,0.0,1.0

In [33]:
inter_milan_data.head()

,Name,Team,matches_played,goals_scored,yellow_cards,red_cards,points
0,Nicolò Barella,Inter Milan,11,3,2,0,2
1,Henrikh Mkhitaryan,Inter Milan,12,2,2,0,2
2,Denzel Dumfries,Inter Milan,11,1,0,0,0
3,Hakan Calhanoglu,Inter Milan,11,1,1,0,1
4,Robin Gosens,Inter Milan,10,1,1,0,1

In [34]:
man_city_data['normalized_matches_played'] = man_city_data['matches_played'] / man_city_data['matches_played'].max()
man_city_data['normalized_goals_scored'] = man_city_data['goals_scored'] / man_city_data['goals_scored'].max()
man_city_data['normalized_yellow_cards'] = man_city_data['yellow_cards'] / man_city_data['yellow_cards'].max()
man_city_data['normalized_red_cards'] = man_city_data['red_cards'] / man_city_data['red_cards'].max()
man_city_data['normalized_points'] = man_city_data['points'] / man_city_data['points'].max()

man_city_data.head()

,Name,Team,matches_played,goals_scored,yellow_cards,red_cards,points,normalized_matches_played,normalized_goals_scored,normalized_yellow_cards,normalized_red_cards,normalized_points
0,Erling Haaland,Manchester City,10,12,0.0,0.0,0.0,0.833333,1.000000,0.00,0.0,0.00
1,Bernardo Silva,Manchester City,12,3,2.0,0.0,2.0,1.000000,0.250000,0.50,0.0,0.50
2,Julián Álvarez,Manchester City,10,3,0.0,0.0,0.0,0.833333,0.250000,0.00,0.0,0.00
3,Riyad Mahrez,Manchester City,9,3,0.0,0.0,0.0,0.750000,0.250000,0.00,0.0,0.00
4,Kevin De Bruyne,Manchester City,9,2,1.0,0.0,1.0,0.750000,0.166667,0.25,0.0,0.25

In [35]:
inter_milan_data['normalized_matches_played'] = inter_milan_data['matches_played'] / inter_milan_data['matches_played'].max()
inter_milan_data['normalized_goals_scored'] = inter_milan_data['goals_scored'] / inter_milan_data['goals_scored'].max()
inter_milan_data['normalized_yellow_cards'] = inter_milan_data['yellow_cards'] / inter_milan_data['yellow_cards'].max()
inter_milan_data['normalized_red_cards'] = inter_milan_data['red_cards'] / inter_milan_data['red_cards'].max()
inter_milan_data['normalized_points'] = inter_milan_data['points'] / inter_milan_data['points'].max()

inter_milan_data.head()

,Name,Team,matches_played,goals_scored,yellow_cards,red_cards,points,normalized_matches_played,normalized_goals_scored,normalized_yellow_cards,normalized_red_cards,normalized_points
0,Nicolò Barella,Inter Milan,11,3,2,0,2,0.916667,1.000000,1.0,NaN,1.0
1,Henrikh Mkhitaryan,Inter Milan,12,2,2,0,2,1.000000,0.666667,1.0,NaN,1.0
2,Denzel Dumfries,Inter Milan,11,1,0,0,0,0.916667,0.333333,0.0,NaN,0.0
3,Hakan Calhanoglu,Inter Milan,11,1,1,0,1,0.916667,0.333333,0.5,NaN,0.5
4,Robin Gosens,Inter Milan,10,1,1,0,1,0.833333,0.333333,0.5,NaN,0.5

In [36]:
inter_milan_data['normalized_red_cards'] = inter_milan_data['normalized_red_cards'].fillna(0)

In [37]:
inter_milan_data.head()

,Name,Team,matches_played,goals_scored,yellow_cards,red_cards,points,normalized_matches_played,normalized_goals_scored,normalized_yellow_cards,normalized_red_cards,normalized_points
0,Nicolò Barella,Inter Milan,11,3,2,0,2,0.916667,1.000000,1.0,0.0,1.0
1,Henrikh Mkhitaryan,Inter Milan,12,2,2,0,2,1.000000,0.666667,1.0,0.0,1.0
2,Denzel Dumfries,Inter Milan,11,1,0,0,0,0.916667,0.333333,0.0,0.0,0.0
3,Hakan Calhanoglu,Inter Milan,11,1,1,0,1,0.916667,0.333333,0.5,0.0,0.5
4,Robin Gosens,Inter Milan,10,1,1,0,1,0.833333,0.333333,0.5,0.0,0.5

In [38]:
weights = {
    'Matches Played': 0.2,
    'Goals Scored': 0.4,
    'Yellow Cards': 0.1,
    'Red Cards': 0.1,
    'Points': 0.2
}

In [39]:
# Calculate the weighted scores for Manchester City
man_city_data['Weighted_Score'] = man_city_data['normalized_matches_played'] * weights['Matches Played'] \
                                 + man_city_data['normalized_goals_scored'] * weights['Goals Scored'] \
                                 - man_city_data['normalized_yellow_cards'] * weights['Yellow Cards'] \
                                 - man_city_data['normalized_red_cards'] * weights['Red Cards'] \
                                 - man_city_data['normalized_points'] * weights['Points']

man_city_data.head()

,Name,Team,matches_played,goals_scored,yellow_cards,red_cards,points,normalized_matches_played,normalized_goals_scored,normalized_yellow_cards,normalized_red_cards,normalized_points,Weighted_Score
0,Erling Haaland,Manchester City,10,12,0.0,0.0,0.0,0.833333,1.000000,0.00,0.0,0.00,0.566667
1,Bernardo Silva,Manchester City,12,3,2.0,0.0,2.0,1.000000,0.250000,0.50,0.0,0.50,0.150000
2,Julián Álvarez,Manchester City,10,3,0.0,0.0,0.0,0.833333,0.250000,0.00,0.0,0.00,0.266667
3,Riyad Mahrez,Manchester City,9,3,0.0,0.0,0.0,0.750000,0.250000,0.00,0.0,0.00,0.250000
4,Kevin De Bruyne,Manchester City,9,2,1.0,0.0,1.0,0.750000,0.166667,0.25,0.0,0.25,0.141667

In [40]:
inter_milan_data['Weighted_Score'] = inter_milan_data['normalized_matches_played'] * weights['Matches Played'] \
                                     + inter_milan_data['normalized_goals_scored'] * weights['Goals Scored'] \
                                     - inter_milan_data['normalized_yellow_cards'] * weights['Yellow Cards'] \
                                     - inter_milan_data['normalized_red_cards'] * weights['Red Cards'] \
                                     - inter_milan_data['normalized_points'] * weights['Points']

inter_milan_data.head()

,Name,Team,matches_played,goals_scored,yellow_cards,red_cards,points,normalized_matches_played,normalized_goals_scored,normalized_yellow_cards,normalized_red_cards,normalized_points,Weighted_Score
0,Nicolò Barella,Inter Milan,11,3,2,0,2,0.916667,1.000000,1.0,0.0,1.0,0.283333
1,Henrikh Mkhitaryan,Inter Milan,12,2,2,0,2,1.000000,0.666667,1.0,0.0,1.0,0.166667
2,Denzel Dumfries,Inter Milan,11,1,0,0,0,0.916667,0.333333,0.0,0.0,0.0,0.316667
3,Hakan Calhanoglu,Inter Milan,11,1,1,0,1,0.916667,0.333333,0.5,0.0,0.5,0.166667
4,Robin Gosens,Inter Milan,10,1,1,0,1,0.833333,0.333333,0.5,0.0,0.5,0.150000

In [41]:
combined_data = pd.concat([man_city_data, inter_milan_data], ignore_index=True)

In [42]:
combined_data.head()

,Name,Team,matches_played,goals_scored,yellow_cards,red_cards,points,normalized_matches_played,normalized_goals_scored,normalized_yellow_cards,normalized_red_cards,normalized_points,Weighted_Score
0,Erling Haaland,Manchester City,10,12,0.0,0.0,0.0,0.833333,1.000000,0.00,0.0,0.00,0.566667
1,Bernardo Silva,Manchester City,12,3,2.0,0.0,2.0,1.000000,0.250000,0.50,0.0,0.50,0.150000
2,Julián Álvarez,Manchester City,10,3,0.0,0.0,0.0,0.833333,0.250000,0.00,0.0,0.00,0.266667
3,Riyad Mahrez,Manchester City,9,3,0.0,0.0,0.0,0.750000,0.250000,0.00,0.0,0.00,0.250000
4,Kevin De Bruyne,Manchester City,9,2,1.0,0.0,1.0,0.750000,0.166667,0.25,0.0,0.25,0.141667

In [43]:
combined_data = combined_data.sort_values(['Team', 'Weighted_Score'], ascending=[True, False])

In [44]:
combined_data.head()

,Name,Team,matches_played,goals_scored,yellow_cards,red_cards,points,normalized_matches_played,normalized_goals_scored,normalized_yellow_cards,normalized_red_cards,normalized_points,Weighted_Score
26,Denzel Dumfries,Inter Milan,11,1,0.0,0.0,0.0,0.916667,0.333333,0.0,0.0,0.0,0.316667
24,Nicolò Barella,Inter Milan,11,3,2.0,0.0,2.0,0.916667,1.000000,1.0,0.0,1.0,0.283333
25,Henrikh Mkhitaryan,Inter Milan,12,2,2.0,0.0,2.0,1.000000,0.666667,1.0,0.0,1.0,0.166667
27,Hakan Calhanoglu,Inter Milan,11,1,1.0,0.0,1.0,0.916667,0.333333,0.5,0.0,0.5,0.166667
28,Robin Gosens,Inter Milan,10,1,1.0,0.0,1.0,0.833333,0.333333,0.5,0.0,0.5,0.150000

In [45]:
output_file = './Data/all_players_stats.csv'
combined_data.to_csv(output_file, index=False)